body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

.form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 5px;
    width: 150px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
}

